body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

.resultContainer {
  height: 6rem;
}

button {
  height: 6rem;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 0;
  border-color: #d1d1d1;
}

.orangeBtn {
  background-color: #f5913e;
}

.navbar-toggler {
  width: 15vh;
  height: 3rem;
}

.homeContainer {
  width: 80vh;
}

.homeCalc {
  width: 85%;
}
